<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
     <%if(ok == 'yes') {%>
    <script>
        alert('대출에 성공하였습니다!');
        location.href="daechul";
    </script>
    <%}%>
    <%if(ok == 'no') {%>
    <script>
        alert('이미 대출된 책입니다.');
        location.href="daechul";
    </script>
    <%}%>
</body>
</html>