<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <script>
        alert('대출이 완료되었습니다!');
        location.href="daechul";
        </script>
</body>
</html>