<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <script>
        alert('O 또는 X만 입력해 주세요');
        location.href="admin_member";
        </script>
</body>
</html>