<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <script>
        alert('반납확인에 성공하였습니다!');
        location.href="/admin";
        </script>
</body>
</html>